// Derived from https://codepen.io/cassidoo/pen/KRdLvL by Cassidy Williams
// CodePen submissions are MIT Licensed (https://blog.codepen.io/legal/licensing/)

.Normed_DashLoader {
  &__outer {
    height:100%;
    position: relative;
  }
  &__container {
    &--visible {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.5s, opacity 0.5s;
    }
    &--hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  &__dash {
    margin: 0 0.5em;
    width: 1em;
    height: 0.5em;
    border-radius: 0.25em;
    background: var(--normed-dashloader-color, rgb(228, 66, 17));
    box-shadow: 0 0 0.28em 0 var(--normed-dashloader-shadow, rgb(224, 173, 31));
  }

  &__uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: normed_dashloader__spin 3s linear infinite;  
  }

  &__dos {
    transform-origin: center right;
    animation: normed_dashloader__spin2 3s linear infinite;
    animation-delay: .2s;
  }

  &__tres {
    transform-origin: center right;
    animation: normed_dashloader__spin3 3s linear infinite;
    animation-delay: .3s;
  }

  &__cuatro {
    transform-origin: center right;
    animation: normed_dashloader__spin4 3s linear infinite;
    animation-delay: .4s;
  }
}

@keyframes normed_dashloader__spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes normed_dashloader__spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes normed_dashloader__spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);  
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes normed_dashloader__spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}